/* src/styles/Hero.css */
.hero {
  text-align: center;
  padding: 2rem;
  background-color: #05472b;
  color: white;
}

.hero p {
  color: #ffd597;
}

.hero-button {
  padding: 1rem 2rem;
  margin-top: 1rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 12px; /* 각 모서리를 둥글게 */
  cursor: pointer;
  font-weight: bold;
}
